* {
  text-align:  center;
  font-family: Monaco, sans-serif;
}

body {
  background-color: #19252e;
}

h1 {
  color: #c7493a;
  font-size: 4em;
}

input {
  background-color: #8d99ae;
  border-radius: 4px 0px 0px 4px;
  width: 30em;
  padding: 10px 10px;
  border: 2px;
  text-align: left;
  outline: none;
}

input:hover {
  color: #5d7fba;
  background-color: #8a92ba;
}

::placeholder {
  color: grey;
}

button {
  font-size: 1em;
  padding: 8.5px 10px;
  border-radius: 0px 4px 4px 0px;
  border: 2px #b54235;
  background: #d14332;
  color:  whitesmoke;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #b54235;
  cursor: pointer;
}

.button:active {
  color: #8d99ae;
}
  
